@import "../../shared/globalVarialbes.scss";

.textbox {
  height: 2rem;
  font-size: 1.25rem;
  background-color: $nav-color;
  border: none;
  outline: 2px solid $accent-color;
  border-radius: 5px;
  color: $font-color;
  width: 100%;
  padding: 0.25rem;
  caret-color: $semi-transparent;
  &:focus-visible {
    outline: 3px solid $accent-color;
  }
  &:focus {
    background-color: $nav-color;
  }
}
