// Seb Website
$background-color: #121113;
$nav-color: #000000bb;
$accent-color: #11a6c0;
$font-color: white;
$transparent-color: #ffffff00;
// Greenspark Challenge
$greenspark-green: #3b755f;
$greenspark-white: #f9f9f9;
$greenspark-light-green: #afc6bd;
$greenspark-light-green-transparent: #3b755f20;
$greenspark-switch-border: #f2ebdb;
$greenspark-switch-outer-border: #b0b0b0;
$greenspark-white-transparent: #ffffff33;
$greenspark-blue: #2e3a8c;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
