@import "../../shared/globalStyles.scss";

.tooltip {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  width: 14rem;
  height: 10rem;
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  text-align: center;
  box-shadow: 0rem 2rem 2rem -0.75rem rgba(0, 0, 0, 0.2);
  background-color: white;

  p {
    font-size: 14px;
  }
  a {
    color: $greenspark-green;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
  }
}
