$greenspark-green: #3b755f;
$greenspark-white: #f9f9f9;
$greenspark-light-green: #afc6bd;
$greenspark-light-green-transparent: #afc6bd7c;
$greenspark-switch-border: #f2ebdb;
$greenspark-switch-outer-border: #b0b0b0;

.tooltip-container {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  width: 14rem;
  height: 10rem;
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  text-align: center;
  box-shadow: 0rem 2rem 10rem 1px rgba(0, 0, 0, 0.315);

  p{
    font-size: 14px;
  }
  a {
    color: $greenspark-green;
    font-weight: 200;
    cursor: pointer;
  }
}
